mat-grid-list {
    width: 90%;
    // position: relative;
    margin-top: 40px;
    margin-left: 90px;
    // align-content: right;
    // left: 80px;
  }
  mat-tab-group {
    position: relative;
    top: 0;
    width: 95%;
    margin-top: 0;
    margin-left: 40px;
  }

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #D62E2E;
}
