<mat-card id="container" *ngIf='(request | json) !== "{}"' style="color: rgb(100, 100, 100); font-size: 14px;">
            <mat-card-header>
                <div style="height: 40px; line-height: 40px; text-align: center; color: white; margin: auto;">
                    <div>Reference number: {{ request.refNo }}</div>
                </div>
            </mat-card-header>
            <div style="margin-top: 20px;">
                <div style="width: 100%; padding-left: 10px;">Services Requested: <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{request.serviceDesc}}</span></div>
                <div *ngFor='let item of request["eleObj"]'>
                    <div style="width: 100%; padding-left: 30px; padding-right: 100px;">{{ item.name }} <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{ item.chargedCost | currency: 'R ' }}</span></div>
                </div>
                <div *ngFor='let item of request["ictObj"]'>
                    <div style="width: 100%; padding-left: 30px;padding-right: 100px;">{{ item.name }} <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{ item.chargedCost | currency: 'R ' }}</span></div>
                </div>
                <div *ngFor='let item of request["plumbingObj"]'>
                    <div style="width: 100%; padding-left: 30px;padding-right: 100px;">{{ item.name }} <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{ item.chargedCost | currency: 'R ' }}</span></div>
                </div>
            </div>
            <hr>
            <div style="width: 100%; padding-left: 10px; padding-right: 100px;">Status: <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{request.status}}</span></div>
            <div style="width: 100%; padding-left: 10px; padding-right: 100px;">Date requested: <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{request.stamp | date: 'medium'}}</span></div>
            <div style="width: 100%; padding-left: 10px; padding-right: 100px;">Cost: <span style="position: absolute; right: 30px; min-width: 100px; text-align: right;">{{request.cost | currency: 'R ' }}</span></div>
            <div class="createinvoice">
                <button mat-button style="background: rgba(214, 16, 16, 0.781); margin-right: 20px; margin-bottom: 20px;" (click)="acceptRequest()" [disabled]="(request.status === 'Accepted') || (request.status === 'Declined') || (request.status === 'Processed')">Accept Request</button>
                <button mat-button style="background: rgba(214, 16, 16, 0.781); margin-right: 20px; margin-bottom: 20px;" (click)="createInvoice()" [disabled]="(request.status === 'Declined') || (request.status === 'Pending') || (request.status === 'Processed')">Process Request</button>
                <button mat-button style="background: rgba(214, 16, 16, 0.781); margin-right: 20px; margin-bottom: 20px;" (click)="declineRequest()" [disabled]="(request.status === 'Accepted') || (request.status === 'Declined') || (request.status === 'Processed')">Decline Request</button>
                <button mat-button style="background: rgba(214, 16, 16, 0.781);" (click)="downloadInvoice()" [disabled]="request.status != 'Processed'">Download Invoice</button>
            </div>
</mat-card>