<mat-card class="card" style="width: 50%;top:20%;left: 20%;position: absolute;">
    <mat-card-title>{{array?.refNo}}&nbsp;&nbsp;</mat-card-title>
    <h4>{{array?.stamp | date : 'medium'}}</h4>
    <mat-card-content>
        <div *ngFor="let i of arrayOfictObj"> {{i}} </div>
        <br>
        <div *ngFor="let item of arrayOfeleObj">
            {{item}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <i class="material-icons" (click)="navigate()"> description </i>
    </mat-card-actions>
</mat-card>