.one {
    position: relative;
    // left: 400px;
    text-align: center;
}

// .btn {
//     position: relative;
//     top: 20px;
//     // margin-bottom: 20px;
//     color: rgb(49, 46, 46);
//     background-color: red;
//     // width: 30%;
//     color: white;
// }

h2 {
    text-align: center;
    font-size: 16px;
}
.container {
    display: flex; flex-direction: column; justify-content: center;
    .button {
        position: relative;
        top: 20px;
        margin: auto;
        margin-bottom: 0;
        height: 145px; width: 220px;
        cursor: pointer;
        .image {
            position: relative;
            top: 0;
            height: 145px; width: 220px;
            // margin-bottom: 50px;
        }
    }
    .inputs {
        position: relative;
        top: 40px;
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
        // border: 1px solid red;
        mat-form-field {
            width: 100%;
        }
    }
    .btn {
        position: relative;
        top: 20px;
        margin: auto;
        margin-bottom: 20px;
        color: rgb(49, 46, 46);
        background-color: red;
        width: 30%;
        color: white;
    }

}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: gray !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
    ;
}

 ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

mat-datepicker-toggle {
    color: black !important;
}