<div class="title" style="position: relative; width: 30%; margin: auto; text-align: center;">
    <h1>User Profile</h1>
</div>
<div id="form-cont">
    <div class="container">
        <div class="button">
            <label for="photo">
                <input type="file" style="display: none;" accept="image/x-png,image/jpeg" id="photo" (change)='addPicture($event)'>
                <img *ngIf="!myUpload && !profileImg" src="../../../assets/scc (1).png" width="140px" height="140px" alt="">
                <img *ngIf="myUpload" src="{{myUpload}}" width="140px" height="140px" alt="">
                <img *ngIf="profileImg && !myUpload" src="{{profileImg}}" width="140px" height="140px" alt="">
            </label>
        </div>

        <form [formGroup]="form">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Phone no.</mat-label>
                <input matInput formControlName="number">
            </mat-form-field>
        </form>
        <div class="buttons">
            <button mat-button (click)="updateAdmin()" class="btn" [disabled]="!form.valid">Update</button>
            <button mat-button (click)="logout()" class="btn">Log out</button>
        </div>
    </div>

</div>
