hr{
    background-color: red;
}
table{
    // position: relative;
    width: 100%;
    // top: 20px;
}

.containerr {
    border: 1px solid red;
    position: relative;
    width: 70%;
    top: 20px
}